FLASK_APP=app.py
FLASK_ENV=development
SECRET_KEY=a-very-secret-key-change-me
COMPOSE_PROJECT_NAME=sadeh

# ... rest of the file

# --- Database Settings ---
MYSQL_USER=sadeh_user
MYSQL_PASSWORD=sadeh_password 
MYSQL_DATABASE=sadeh_db
MYSQL_ROOT_PASSWORD=my-secret-pw
# MYSQL_HOST=localhost
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_HOST_PORT=3306

# --- LLM Service Settings ---
LLM_SERVICE=ollama

# Ollama settings
# OLLAMA_HOST=http://localhost:11434
OLLAMA_HOST=http://ollama:11434
OLLAMA_MODELS=gemma3:1b,tinyllama:1.1b-chat-v1-q2_K

RAG_DOCUMENTS_DIR=./rag_documents
RAG_INDEX_FOLDER=./rag_indexes

OLLAMA_EMBEDDING_MODELS=nomic-embed-text


LOG_LEVEL=DEBUG
